
  <h2>Profile Edit Page:</h2>

<form class="navbar navbar-light bg-light" action="/applicant/edit" method="post">
  <input type="hidden" name="_method" value="patch">
  <p>
  <label for="">* Username:</label>
  <input type="text" name=applicantion[username] value="<%=@user.username%>">
  </p>
  <p>
  <label for="">password:</label>
  <input type="password" name=applicant[password] value="">
  </p>
  <p>
    <label for="password">Password Confirmation</label>
    <input type="password" id="password" name=applicant[password_confirmation] value="" placeholder="Password Confirmation">
  </p>
  <p>
  <label for="">* Full Name:</label>
  <input type="text" name=applicant[name] value="<%=@user.name%>">
  </p>
  <p>
  <label for="">Address:</label>
  <input type="address" name=applicant[address] value="<%=@user.address%>">
  </p>
  <p>
  <label for="">Objective:</label>
  <input type="box" name=applicant[objective] value="<%=@user.objective%>">
  </p>
  <p>
  <label for="">Github:</label>
  <input type="text" name=applicant[github] value="<%=@user.github%>">
  </p>
  <p>
  <label for="">Blog:</label>
  <input type="text" name=applicant[blog] value="<%=@user.blog%>">
  </p>
  <input type="submit" name="submit" value="submit" class="btn btn-outline-success">
  <input type="reset" class="btn btn-outline-success">
  <input type="submit" name="submit" value="Cancel" class="btn btn-outline-success" formnovalidate>
</form>

<p>* require fields</p>
