
  <h2>Profile Edit Page:</h2>

<form class="" action="/applicant/edit" method="post">
  <input type="hidden" name="_method" value="patch">
  <p>
  <label for="">Username:</label>
  <input type="text" name="username" value="<%=@user.username%>">
  </p>
  <p>
  <label for="">password:</label>
  <input type="password" name="password" value="">
  </p>
  <p>
  <label for="">Name:</label>
  <input type="text" name="name" value="<%=@user.name%>">
  </p>
  <p>
  <label for="">Address:</label>
  <input type="address" name="address" value="<%=@user.address%>">
  </p>
  <p>
  <label for="">Objective:</label>
  <input type="box" name="objective" value="<%=@user.objective%>">
  </p>
  <p>
  <label for="">Github:</label>
  <input type="text" name="github" value="<%=@user.github%>">
  </p>
  <p>
  <label for="">Blog:</label>
  <input type="text" name="blog" value="<%=@user.blog%>">
  </p>
  <input type="submit" name="submit" value="submit">
  <input type="reset">
</form>
