


<ul style="list-style: none;">
  <li>Username:</li>
    <li> <%= @user.username %> </li>
  <li>Name:</li>
    <li> <%= @user.name %> </li>
  <li>Address:</li>
    <li> <%= @user.address %> </li>
  <li>Objectives:</li>
    <li> <%= @user.objective %> </li>
  <li>Github:</li>
  <li> <a href="<%=@user.github%>" target="_new"><%=@user.github %></a> </li>
  <li>Blog:</li>
  <li> <a href="<%= @user.blog %>"><%= @user.blog %></a> </li>
  <li>Jobs Applied:</li>

    <% if !@user.jobs.empty? %>
          <%  @user.jobs.sort_by(&:company_id).each do |obj| %>
          <a href="/job/<%=obj.id%>"> <%= obj.title %> </a> ||
        (<a href="/company/<%=obj.company.id%>"> <%= obj.company.name %> </a>)
        <br>
    <% unless  @user.id != session[:user_id] %>
        <a href="/applicant/job/delete/<%=obj.id%>">delete</a>
        <br>
    <% end %>
        <% end %>
    <% end %>
</ul>
<br>
<br>

<!-- display links depending on who is logged in -->
<nav>
 <% unless  @user.id != session[:user_id] %>
     <ul style="list-style: none;">
     <li>  <a href="/applicant/edit">Edit</a> </li>
     <li>  <a href="/job/index">Job Postings</a> </li>
     <li>  <a href="/applicant/delete">Delete Account</a> </li>
     </ul>
 <% end %>
</nav>
