
<h2>Job postings</h2>

<p>

 <h3><a href="/company/profile"> <%=@company.name%> </a> </h3>

<%  @company.jobs.each do |obj| %>

    <p>
      <ul style="list-style: none;">
      <li>Title:</li>
        <%=obj.title %>
      <li>Date:</li>
        <%=obj.date %>
      <li>Job Type:</li>
        <%=obj.job_type %>
      <li>Location:</li>
        <%=obj.location %>
      <li>Requirements:</li>
        <%=obj.requirements %>
      <li>Salary:</li>
        $<%=obj.salary %>
        <br>
      Applicants:
      <% if !obj.applicants.empty? %>
        <% obj.applicants.each do |app| %>
        <li><a href="/applicant/profile/<%= app.name%>"><%= app.name%> </a></li>
        <% end %>
      <% end %>
      <br>
       <a href="/job/edit/<%=obj.id%>">Edit</a>
      | <a href="/job/delete/<%=obj.id%>">Delete</a>
      <% end %>
      </ul>
    </p>

</p>

<a href="/job/new">Add a New Post</a>
<br>
<a href="/company/profile"> Back to the Profile Page</a>

<!-- links must be display based on conditionals -->
