
<h2>Job postings</h2>

<p>

 <h3><a href="/company/profile"> <%=@company.name%> </a> </h3>

<%  @company.jobs.each do |obj| %>

    <p>
      <ul style="list-style: none;">
      <li>Title:</li>
        <%=obj.title %>
      <li>Date:</li>
        <%=obj.date %>
      <li>Job Type:</li>
        <%=obj.job_type %>
      <li>Location:</li>
        <%=obj.location %>
      <li>Requirements:</li>
        <%=obj.requirements %>
      <li>Salary:</li>
        $<%=obj.salary %>
      <p>Applicants:</p>

      <%= binding.pry %>
      

      <p><a href="/job/edit/<%=obj.id%>">Edit</a></p>
      <p><a href="/job/delete/<%=obj.id%>">Delete</a></p>
      <% end %>
      </ul>
    </p>



</p>

<a href="/job/new">Add a New Post</a>
<br>
<a href="/company/profile"> Back to the Profile Page</a>
