<h1>Job Postings</h1>

<% @company.each do |company_obj|  %>
<h2> <%= company_obj.name %> </h2>
  <% company_obj.jobs.each do |company_job| %>
    <% if !@user.jobs.exists?(company_job.id) %>

        <ul style="list-style: none;">
          <li> Title:</li>        <%= company_job.title        %>  </li>
          <li> Date:</li>         <%= company_job.date         %>  </li>
          <li> Job Typeli</li>     <%= company_job.job_type     %>  </li>
          <li> Location:</li>     <%= company_job.location     %>  </li>
          <li> Requirements:</li> <%= company_job.requirements %>  </li>
          <li> Salary:</li>       <%= company_job.salary       %>  </li>
          <li> <a href="/applicant/job/<%=company_job.id%>">Apply</a> </li>
        </ul>

    <% end  %>
  <% end %>
<% end %>
