


<h2><a href="/company/<%=@company.id%>"><%= @company.name %> </a> </h2>
<h3>Title</h3>
<%=  @job.title %>
<h3>Date:</h3>
<%=  @job.date  %>
<h3>Position</h3>
<%=  @job.job_type  %>
<h3>Location:</h3>
<%=  @job.location  %>
<h3>Requirements:</h3>
<%= @job.requirements %>
<h3>Salary:</h3>
<%= @job.salary %>
