<!DOCTYPE html>
<html>
  <head>

    <style media="screen">
      #menu {background-color: #563d7c;}
      #menu a {color: white;}
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



    <title>JobSeeker</title>
  </head>

  <body class="container ">
  <nav class="row navbar navbar-expand-lg navbar-light bg-light" id="menu">
    <div class="col-sm-2">
    <a class="navbar-brand" href="/">JobSeeker</a>
      </div>
        <div class="col-sm-2">
          <a href="/">Main Menu</a>
        </div>
        <div class="col-sm-2">
          <a href="/">About</a>
        </div>
        <div class="col-sm-2">
          <a href="/">Contact</a>
        </div>
        <div class="col-sm-2">
          <a href="/">Sponsors</a>
        </div>
        <div class="col-sm-2">
          <% if session.include? ("company_id")%>
            <a href="/company/logoff"> Sign out <%= Company_helpers.current_user(session).name %></a>
            <% elsif session.include? ("user_id") %>
            <a href="/applicant/logoff"> Sign out <%= Applicant_helpers.current_user(session).name %></a>
            <% else %>
          <% end %>
        </div>
    </nav> <!-- ending nav container -->



<div class="flash_message container">
  <div class="row">
    <div class="col-sm-12">
    <% if flash.has?(:message) %>
    <%= flash[:message] %>
    <% end %>
    </div>
  </div>
</div>
<br>

<div class="error_message container">
  <div class="row">
    <div class="col-sm-12">
  <% unless @error == nil %>
    <% @error.each do |k,v| %>
    <%= "#{k.capitalize}:" " #{v[0]}" %> <br>
      <% end %>
  <% end %>
  </div>
 </div>
</div>
<br>
      <div class="container">
      <div class="row">
        <div class="col-md-6">
          <%= yield %>
        </div>
       </div>
      </div>

  </body>

</html>
